dist/**/*
.angular/**/*
www/**/*
coverage/**/*

# Dependencies
node_modules/**/*

# Test files
*.spec.ts
*.e2e-spec.ts
src/test/**/*

# Static assets
src/assets/**/*

# Configuration files
src/environments/*.js
karma.conf.js
jest.config.js
cypress.config.ts
capacitor.config.ts

# Generated and minified files
*.min.js

# Non-TypeScript files
*.css
*.scss
*.html
*.json
*.md
*.svg
*.ico